body {
    margin: 0;
    padding: 0;
    background: #1c740a;

}

.kotak{
    width: 400px;
    background: #ffffff;
    margin: 80px auto;
    padding: 20px;

}

.kotak h2{
    text-align: center; 
}

.form-input{
    margin: 10px;
}

label{
    font-size: 18px;
}

.input{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 15px;
}

button{
    font-size: 20px;
    background-color: rgb(0, 107, 59);
}